<div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
</div>
<!--logo start-->
<a href="/" class="logo"><b> SSP </b></a>
<!--logo end-->
<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" onclick="markNotifications()">
                <i class="fa fa-envelope-o"></i>
                <span id="notifCount" class="badge bg-theme">2</span>
            </a>
            <ul id="notifs" class="dropdown-menu extended inbox">

            </ul>
        </li>
        <!-- inbox dropdown end -->

    </ul>

    <!--  notification end -->
</div>

<div class="top-menu">
    <ul class="nav pull-left top-menu">
        <li><button class="logout" data-toggle="modal" data-target="#RequestModel" onclick="getItemTypes()" ><i class="fa fa-plus-square" ></i> Yeni İstek Oluştur </button></li>
    </ul>
</div>

<div class="top-menu">
    <ul class="nav pull-left top-menu">
        <li><button class="logout" data-toggle="modal" data-target="#EldekiEsyaModel" onclick="getItemTypes()" ><i class="fa fa-plus-square" ></i> Elindeki Eşyayı Ekle </button></li>
    </ul>
</div>

<div class="top-menu">
    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="/logout">Logout</a></li>
    </ul>
</div>

<div class="modal fade" id="RequestModel" tabindex="-1" role="dialog" aria-labelledby="RequestModelLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="RequestModelLabel">Yeni Bağış İsteği</h4>
            </div>
            <div class="modal-body">
                <form name="newRequest" action="/yeniBagis" method="post">

                        Tür: <select class="form-control" name="itemType" id="itemTypes" onchange="setItems()">
                        </select><br>

                        Eşya:
                        <select  class="form-control" name="item"  id="items1" >
                        </select><br>

                        <br>
                        <br>
                        <input id="requestedCount"  type="number" class="form-control" placeholder="Adet" name="requestedCount" autofocus min="1">
                        <br>
                        <button class="btn btn-theme btn-block" id="submitbutton"> <i class="fa fa-plus"></i> Talep Ekle</button>

                </form>


            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EldekiEsyaModel" tabindex="-1" role="dialog" aria-labelledby="EldekiEsyaModelLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="EldekiEsyaModelLabel">Elindeki Eşyayı ekle</h4>
            </div>
            <div class="modal-body">
                <form name="newEldekiEsya" action="/eldekiesyayiekle" method="post" enctype="multipart/form-data">

                    Tür: <select class="form-control" name="itemType" id="itemTypesXD" onchange="setItems2()">
                    </select><br>

                    Eşya:
                    <select  class="form-control" name="item"  id="itemsXD" >
                    </select><br>

                    <br>
                    <br>
                    <input type="number" class="form-control" placeholder="Adet" name="eldekiSayi" autofocus min="1">
                    <br>
                    <input type="file" class="form-control" placeholder="Adet" name="foto">
                    <br>
                    <button class="btn btn-theme btn-block" id="submitbutton"> <i class="fa fa-plus"></i> Eşyaları Ekle</button>

                </form>


            </div>
        </div>
    </div>
</div>

<script>
    getNotifications();

    var allItems = {};
    var notifications = {};

    function getNotifications(){
        console.log("xd");
        $.ajax({
            type: 'POST',
            url: '/bildirimlerial',
            success: function(result) {
                console.log(result);
                notifs = result;
                notifications = result;

                var itemsHtml = "";


                itemsHtml += '<div class="notify-arrow notify-arrow-green"></div> <li><p class="green">'+ notifs.length+' yeni bildiriminiz var</p> </li>';

                for (var i = 0; i< notifs.length; i++) {
                    itemsHtml += ' <li>';
                    itemsHtml += '<a >';
                    //itemsHtml += '    <span class="photo"><img alt="avatar" src="images/ui-zac.jpg"></span>';
                    //itemsHtml += '   <span class="subject">';
                    itemsHtml += '    <span class="from">'+notifs[i].from+'</span> <br>';
                    itemsHtml += ' <span class="time">'+'</span>';
                    itemsHtml += '  </span>';
                    itemsHtml += '  <span class="message">';
                    itemsHtml += notifs[i].message;
                    itemsHtml += '</span>';
                    itemsHtml += ' </a>';
                    itemsHtml += ' </li>';
                }
                $('#header_inbox_bar > #notifs').html(itemsHtml);
                $('#header_inbox_bar > #notifCount').html(notifs.length);
            }
        });
    }

    function markNotifications(){
        $.ajax({
            type: 'POST',
            url: '/bildirimlerigorulduyap',
            data: {notifs:notifications},
            success: function(result) {

            }
        });
    }

    function getItemTypes(){
        $.ajax({
            type: 'POST',
            url: '/esyalarigetir',
            success: function(result) {
                items = result;
                allItems = result;
                var itemsHtml = "";
                for (var i = 0; i< items.length; i++) {
                    itemsHtml +=  '<option value:"'+ items[i].itemType + '">';
                    itemsHtml +=   items[i].itemType + '</option>';
                }
                $('#itemTypes').html(itemsHtml);
                $('#itemTypesXD').html(itemsHtml);
                setItems();
                setItems2();
            }
        });
    }

    function setItems(){
        var i = itemTypes.selectedIndex;
        var itemLists = "";
        for (var k = 0; k< allItems[i].itemList.length; k++)
        {
            itemLists +=  '<option value:"'+ allItems[i].itemList[k] + '">';
            itemLists +=   allItems[i].itemList[k] + '</option>';
        }
        $('#items1').html(itemLists);

    }

    function setItems2(){
        var i = itemTypesXD.selectedIndex;
        var itemLists = "";
      //  console.log( itemTypees2);
        for (var k = 0; k< allItems[i].itemList.length; k++)
        {
            itemLists +=  '<option value:"'+ allItems[i].itemList[k] + '">';
            itemLists +=   allItems[i].itemList[k] + '</option>';
        }
        $('#itemsXD').html(itemLists);

    }

</script>

