<div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

        <p class="centered"><a href="/profile"><img src="images/ui-sam.jpg" class="img-circle" width="60"></a></p>
        <h5 class="centered"> <%=username%> </h5>

        <li class="mt">
            <a id="mainpage" href="/mainpage">
                <i class="fa fa-dashboard"></i>
                <span>Ana Sayfa</span>
            </a>
        </li>

        <li class="sub-menu">
            <a id="adminPanel" href="javascript:;" >
                <i class="fa fa-desktop"></i>
                <span>Admin Paneli</span>
            </a>
            <ul class="sub">
                <li id="kullanicilarSB" ><a href="/kullanicilar">Kullancılar</a></li>
            </ul>
            <ul class="sub">
                <li id="esyaBilgileriSB" ><a href="/esyabilgileri">Eşyalar</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a id="bagislar" href="javascript:;" >
                <i class="fa fa-desktop"></i>
                <span>Bağışlar</span>
            </a>
            <ul class="sub">
                <li id="bagisistekleriSB"><a  href="/bagisistekleri">İstekler</a></li>
            </ul>

        </li>

        <li class="sub-menu">
            <a  id="esyalarSB" href="javascript:;" >
                <i class="fa fa-cogs"></i>
                <span>Eşyalar</span>
            </a>
            <ul class="sub">
                <li id="haziresyalarSB"><a  href="/haziresyalar">Hazır Eşyalar</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a id="extrapages" href="javascript:;" >
                <i class="fa fa-book"></i>
                <span>Ayarlar</span>
            </a>
            <ul class="sub">
                <li ><a  href="blank.html">Blank Page</a></li>
            </ul>
        </li>

    </ul>
    <!-- sidebar menu end-->
</div>