<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Sign Up!</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<script language="JavaScript">
    function chkForm()
    {
        if (form1.password.value != form1.password2.value)
        {
            alert("Password does not match");
            form1.password.value = "";
            form1.password2.value = "";
            form1.password.focus();
            return false;
        }
    }
</script>

<div id="login-page">
    <div class="container">
        <!-- action="/users" method="post" -->
        <form name="form1" class="form-login" action="/adduser" method="post">
            <h2 class="form-login-heading">sign up now</h2>
            <div class="login-wrap">
                <input type="text" class="form-control" placeholder="E-Mail" name="email" autofocus>
                <br>
                <input type="password" class="form-control" placeholder="Password" name="password">
                <br>
                <input type="password" class="form-control" placeholder="Password" name="password2">
                <br>
                <button class="btn btn-theme btn-block" id="submitbutton" onClick="return chkForm()"> <i class="fa fa-lock" ></i> SIGN UP </button>
                <hr>
            </div>
        </form>

    </div>
</div>

<!-- js placed at the end of the document so the pages load faster -->
<script src="javascripts/app/jquery.js"></script>
<script src="javascripts/app/bootstrap.min.js"></script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="javascripts/app/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("images/login-bg.jpg", {speed: 500});
</script>


</body>
</html>
