<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">

    <title>Sign Up!</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<script language="JavaScript">

    formTemsilci.style.display = "none";

    function chkFormBagisci()
    {
        form1.usertype.value = "bagisci";
        if (form1.password.value != form1.password2.value)
        {
            alert("Password does not match");
            form1.password.value = "";
            form1.password2.value = "";
            form1.password.focus();
            return false;
        }
    }

    function chkFormTemsilci()
    {
        form1.usertype.value = "temsilci";
        if (form1.password.value != form1.password2.value)
        {
            alert("Password does not match");
            form1.password.value = "";
            form1.password2.value = "";
            form1.password.focus();
            return false;
        }
    }


</script>


<div id="login-page">
    <div class="container">
        <!-- action="/users" method="post" -->


        <form name="form1" class="form-login" action="/yenikullanici" method="post">
            <h2 class="form-login-heading"> BİZE KATILIN !</h2>
            <div class="login-wrap">
                <input type="text" class="form-control" placeholder="E-Mail" name="email" autofocus>
                <br>
                <input type="password" class="form-control" placeholder="Şifre" name="password">
                <br>
                <input type="password" class="form-control" placeholder="Tekrardan Şifre" name="password2">
                <br>

                <input type="text" style="display: none;"  class="form-control" placeholder=".." name="usertype">
                <button class="btn btn-theme btn-group" id="submitbutton" onClick="return chkFormBagisci()"> <i class="fa fa-user" ></i> BAĞIŞÇI OLUN </button>
                <button class="btn btn-theme btn-group" id="submitbutton2" onClick="return chkFormTemsilci()"> <i class="fa fa-university" ></i> TEMSİLCİ OLUN </button>
                <hr>
            </div>
        </form>

    </div>
</div>

<!--
   <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="bagısci" value="bagısci" onclick="return showBagisci()" checked >
                Bağışçı olmak istiyorum
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="temsilci" value="temsilci" onclick="return showTemsilci()">
                Temsilci olmak istiyorum
            </label>
        </div>
-->
<!-- js placed at the end of the document so the pages load faster -->
<script src="javascripts/app/jquery.js"></script>
<script src="javascripts/app/bootstrap.min.js"></script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="javascripts/app/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("images/img1.jpg", {speed: 500});
</script>


</body>
</html>
